<html>
<head>
<title>SPA</title>
<%= javascript_include_tag "application" %>
<script src="javascripts/Sammy.js" type="text/javascript"></script>
<script id="categories_list" type="text/x-handlebars-template">
	{{#categories categories}} {{id}} {{name}} {{/categories}}
</script>
<script id="products_list" type="text/x-handlebars-template">>
	{{#products products}} {{id}} {{name}} {{/products}}
</script>
</head>
<body>
<div id="categories"></div>
<div id="products"></div>
</body>
</html>