<html>
<head>
<title>SPA</title>
<%= javascript_include_tag "application" %>
<link rel="stylesheet" type="text/css" href="javascripts/Sammy.js">
<script id="categories_list" type="text/x-handlebars-template">
	{{#categories categories}} {{id}} {{name}} {{/categories}}
</script>
</head>
<body>
<div id="categories"></div>

</body>
</html>