<html>
<head>
<title>SPA</title>
<%= javascript_include_tag "application" %>
<script id="index" type="text/x-handlebars-template">
<h1>Produkty, {{name}} </h1>
</script>
</head>
<body>
<div class="index"></div>

</body>
</html>