<h2>Produkty</h2>
<% @products.each do |product| %>
<%= link_to product.nazwa, admin_productedit_path(product) %>
<% end %>
<h2>Kategorie</h2>
<% @categories.each do |category| %>
<a href="/category/<%= category.id %>"><%= category.nazwa %></a><br>
<% end %>

