<html>
<head>
	<title>Sklep Programisty Mobilnego</title>
</head>
<body>
<h1>Sklep Programisty Mobilnego</h1>
<b>Cennik</b>
<table>
<% @products.each do |product| %>
  <tr>
    <td><%= product.nazwa %></td>
    <td><%= product.opis %></td>
    <td><%= product.cena %></td>
  	<td><%= link_to "Więcej", product %></td>
  </tr>
<% end %>
</table>
</body>
</html>