<h2>Produkty</h2>
<% @products.each do |product| %>
<a href="/product/<%= product.id %>"><%= product.nazwa %></a><br>
<% end %>

<h2>Kategorie</h2>
<% @categories.each do |category| %>
<a href="/category/<%= category.id %>"><%= category.nazwa %></a><br>
<% end %>

