Id użytkownika <%=@current_buyer.id%> <br>
Id użytkownika <%=@current_buyer.first_name%> <br>
Id użytkownika <%=@current_buyer.last_name%> <br>
Zaktualizowano dane poprawnie
<p><%= link_to "Wróć", root_path %></p>