<html>
<head>
	<title>Sklep Programisty Mobilnego</title>
</head>
<body>
Sklep Programisty Mobilnego
<table>
<% @products.each do |product| %>
  <tr>
    <td><%= product.nazwa %></td>
    <td><%= product.opis %></td>
    <td><%= product.cena %></td>
  </tr>
<% end %>
</table>
</body>
</html>